body {
    width: 100%;
    height: 100vh;
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(45%);
}

.container-fluid .logo img {
    max-width: 200px;
    min-height: 110px;
    margin-left: 30px;
    margin-top: 5px;
    filter: brightness(90%);
}


.loginForm {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 90px 60px;
    border-radius: 7px;
    margin-top: 80px;
}

h1 {
    color: white;
    font-weight: 500;
}

.form-control {
    background-color: #333333;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

.form-control::placeholder {
    color: #8c8c8c;
}

.btn-danger {
    width: 100%;
    padding: 12px 0;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #e50914;
}

.btn-danger:hover {
   background-color: #e50914; 
}

.form-check {
    display: flex;
    justify-content: space-between;
}

.form-check-input {
    margin-right: 5px;
}

.form-check-label {
    color: #b3b3b3;
    flex-grow: 2;
}

.needHelp {
    color: #b3b3b3;
    text-decoration: none;
}

.needHelp:hover {
    text-decoration: underline;
}

.new-to-netflix {
    color: #737373;
}

.new-to-netflix a {
    text-decoration: none;
    color: #fff;
}

.new-to-netflix a:hover {
    text-decoration: underline;
} 

@media (max-width: 450px) {
    .container-fluid .logo img {
        display: none;
    }
}

